.c1{
    background: linear-gradient(45deg,red,green);
 }
 
 .c1:hover{
     background: linear-gradient(45deg,red,blue);
 }
 
 #id1{
     background: linear-gradient(90deg, yellow,pink);
 }
 #id1:hover{
     background: linear-gradient(90deg, yellow,red);
 }
 .c2{
     background: linear-gradient(45deg, blue,red,green);
 }
 .c2:hover{
     background: linear-gradient(45deg, blue,red,white);
 }
 div{
    border: 1px solid gray;
    width: 25%;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    color: white;
 }
 h1{
     text-align: center;
 }
 p{
     text-align: justify;
 }
