$dim1 : 1200px;
$col1: red ;
$col2 : white;


*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.parent{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // height: 10vh;


    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

   // display: grid;
   // height: 100vh;
   // place-content: center;


}

#screen{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@media (max-width:$dim1){
    body{
        background-color: $col1;

    }
    .parent,#screen{
        color: $col2;
    }

}

@media(max-width:$dim2) {
    body{
        background-color: $col3;
    }
}

@media(max-width:$dim3) {
    body{
        background-color: $col4;
    }
}