table{
    width: 90%;
    text-align: center;
    border-collapse: collapse;
}

table,th,td{
    border: 1px solid gray;
}

th{
    height: 50px;
}

td{
    height: 30px;
}

tr:nth-child(even){
    background-color: palevioletred;
    color: white;
}

tr:nth-child(odd){
    background-color: cyan;
    color: white;
}

tr:hover{
    background-color: brown;
}
